[init]
        defaultBranch = main

[user]
        name = ciarafair
        email = 138089831+ciarafair@users.noreply.github.com

[filter "lfs"]
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process